#card-section {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    justify-content: space-around;
    background-color: rgb(90, 10, 92);
  }
  
  #display-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(179, 127, 16);
  }
  .button-container {
    display: flex;
    justify-content: space-around;
  }
  .jumbotron {
    margin-bottom: 0;
  }
  #search-section {
    text-align: center;
  }
  #para {
    text-align: center;
  }
  